[Desktop Entry]
Type=Application
Version=1.0
Name=一呼
Name[en]=Yihu
GenericName=桌面工具箱
Comment=杂而全的 Ubuntu 桌面增强工具集 · 一呼即出
Exec=/home/USER/.local/lib/yihu/yihu
Icon=tools.yihu.desktop
Terminal=false
Categories=Settings;Utility;
StartupNotify=true
